{% extends 'base.html' %}
{% block content %}
    <h1>Client Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if client.id %}
    <form name="form" class="foo" action="{% url 'loans:edit_client_form' pk=client.id %}" method="POST">
    {% else %}
    <form name="form" action="{% url 'loans:client_form' %}" method="POST">
    {% endif %}
    {% csrf_token %}

      <!-- Name Info -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Loan Information</h1>
          {% for field in userForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
          {% for field in clientForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Employment Info -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Employment Information</h1>
          {% for field in clientEmploymentForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Loan Info -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Loan Information</h1>
          {% for field in clientLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Financial Info -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Financial Information</h1>
          {% for field in clientFinancialForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
          {% for attr in finance_attr %}
            <label>{{ attr }}:</label>
            {% if attr.id in select_financial_attr %}
            <label><input type="checkbox" value="{{ attr.id | striptags }}" name="finance_attr" checked></label>
            {% else %}
            <label><input type="checkbox" value="{{ attr.id | striptags }}" name="finance_attr"></label>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Property Info -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Information</h1>
          {% for field in clientPropertyForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Business Info -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Business Information</h1>
          {% for field in clientBusinessForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Qualifiers -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Qualifiers</h1>
          {% for q in qualifiers %}
            <label>{{ q }}:</label>
            {% if q.id in selected_qualifiers %}
            <label><input type="checkbox" value="{{ q.id | striptags }}" name="qualifier" checked></label>
            {% else %}
            <label><input type="checkbox" value="{{ q.id | striptags }}" name="qualifier"></label>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Needs List -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Needs List</h1>
          {% for need in needs %}
            <label>{{ need }}:</label>
            {% if need.id in selected_needs %}
            <label><input type="checkbox" value="{{ need.id | striptags }}" name="need" checked></label>
            {% else %}
            <label><input type="checkbox" value="{{ need.id | striptags }}" name="need"></label>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <center>
        <button>{{ submit }}</button>
      </center>
    </form>
{% endblock %}
