{% extends 'base.html' %}
{% block content %}
    <h1>Client Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if client.id %}
    <form name="form" class="foo" action="{% url 'loans:edit_client_form' pk=client.id %}" method="POST">
    {% else %}
    <form name="form" action="{% url 'loans:client_form' %}" method="POST">
    {% endif %}
    {% csrf_token %}

      <!-- Name Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Loan Information</h1>
          {% for field in userForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
          {% for field in clientForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Property Types -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Types</h1>
          {% for p in property_types %}
            <label>{{ p }}</label>
            {% if p.id in selected_propertytypes %}
            <label><input type="checkbox" value="{{ p.id | striptags }}" name="property_type" checked></label>
            {% else %}
            <label><input type="checkbox" value="{{ p.id | striptags }}" name="property_type"></label>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <center>
        <button>{{ submit }}</button>
      </center>
    </form>
{% endblock %}
