{% extends 'base.html' %}
{% load format_data %}
{% block content %}
    <h1>Lender Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form name="form" action="{% url 'loans:edit_lender_form' pk=lender_data.id %}" method="GET">
    {% csrf_token %}

      <!-- Name Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Lender Information</h1>
          <label>First Name:</label>
          {{ lender_data.user.first_name }}
          <label>Last Name:</label>
          {{ lender_data.user.last_name }}
          <label>Company:</label>
          {{ lender_data.company }}
          <label>Address:</label>
          {{ lender_data.user.address }}
          <label>City:</label>
          {{ lender_data.user.city }}
          <label>State:</label>
          {{ lender_data.user.state }}
          <label>Zip:</label>
          {{ lender_data.user.zip_code }}
          <label>Primary Email:</label>
          {{ lender_data.user.email }}
          <label>Secondary Email:</label>
          {{ lender_data.user.email_x }}
          <label>Work Phone:</label>
          {{ lender_data.user.phone_w|format_phone }}
          <label>Mobile Phone:</label>
          {{ lender_data.user.phone_m|format_phone }}
          <label>Fax Phone:</label>
          {{ lender_data.user.phone_f|format_phone }}
          <label>Other Phone:</label>
          {{ lender_data.user.phone_o|format_phone }}
          <label>Solicitation Period:</label>
          {{ lender_data.solicit }} Days
          <label>Lender Type:</label>
          {{ lender_data.lendertype }}
        </div>
      </div>

      <!-- Owner Occupied Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Owner Occupied Real Estate</h1>
          <label>Office:</label>
          {{ owner_occupy.office }}
          <label>Warehouse:</label>
          {{ owner_occupy.warehouse }}
          <label>Manufacturing:</label>
          {{ owner_occupy.manufacturing }}
          <label>Medical:</label>
          {{ owner_occupy.medical }}
          <label>Mixed Use:</label>
          {{ owner_occupy.mixed_use }}
          <label>Other:</label>
          {{ owner_occupy.other }}
        </div>
      </div>

      <!-- Investment Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Investment Real Estate</h1>
          <label>Office:</label>
          {{ invest.office }}
          <label>Warehouse:</label>
          {{ invest.warehouse }}
          <label>Manufacturing:</label>
          {{ invest.manufacturing }}
          <label>Medical:</label>
          {{ invest.medical }}
          <label>Mixed Use:</label>
          {{ invest.mixed_use }}
          <label>Other:</label>
          {{ invest.other }}
        </div>
      </div>

      <!-- Multifamily Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Multifamily Loan</h1>
          <label>2-4 Units:</label>
          {{ multi.mf_2to4 }}
          <label>4+ Units:</label>
          {{ multi.mf_gt4 }}
        </div>
      </div>

      <!-- Construction Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Construction Loan</h1>
          <label>Renovation:</label>
          {{ const.renovation }}
          <label>Ground Up Spec:</label>
          {{ const.ground_up_spec }}
          <label>Commercial:</label>
          {{ const.commercial }}
          <label>Residential:</label>
          {{ const.residential }}
          <label>Investment w/ Land:</label>
          {{ const.inv_w_land }}
          <label>Owner Occupied w/ Land:</label>
          {{ const.oo_w_land }}
        </div>
      </div>

      <!-- SBA Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">SBA Loan</h1>
          <label>7a:</label>
          {{ sba.sba_7a }}
          <label>504:</label>
          {{ sba.sba_504 }}
          <label>CAPline:</label>
          {{ sba.CAPline }}
          <label>Micro Loan:</label>
          {{ sba.micro }}
          <label>Other:</label>
          {{ sba.other }}
        </div>
      </div>

      <!-- https://stackoverflow.com/questions/7326505/django-form-how-to-check-out-checkbox-state-in-template -->
      <!-- HELOC Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">HELOC Loans</h1>
          <label>1st Position:</label>
          {{ heloc.pos_1 }}
          <label>2nd Position:</label>
          {{ heloc.pos_2 }}
        </div>
      </div>

      <!-- BLOC Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">BLOC Loans</h1>
          <label>Residential Property:</label>
          {{ bloc.resid_prop }}
          <label>Investment Property:</label>
          {{ bloc.inv_prop }}
          <label>Savings:</label>
          {{ bloc.savings }}
          <label>Stocks:</label>
          {{ bloc.stocks }}
          <label>1st Position:</label>
          {{ bloc.pos1 }}
          <label>2nd Position:</label>
          {{ bloc.pos2 }}
        </div>
      </div>

      <!-- Bridge Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Bridge Loans</h1>
          <label>Bridge:</label>
          {{ bridge.bridge }}
        </div>
      </div>

      <!-- Qualifiers -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Qualifiers</h1>
          {% for qual in quals %}
          <label>{{ qual }}</label>
          {% endfor %}
        </div>
      </div>

      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Types</h1>
          {% for prop in props %}
          <label>{{ prop }}</label>
          {% endfor %}
        </div>
      </div>
      <center>
        <button>Edit</button>
      </center>
    </form>
{% endblock %}
