{% extends 'base.html' %}
{% block content %}
    <h1>Lender Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form name="form" action="{% url 'loans:lender_form' %}" method="POST">
    {% csrf_token %}

      <!-- Name Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Lender Information</h1>
          {% for field in userForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
          {% for field in lenderForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Owner Occupied Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Owner Occupied Real Estate</h1>
          {% for field in lenderOwnerOccupiedREForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Investment Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Investment Real Estate</h1>
          {% for field in lenderInvestmentREForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Multifamily Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Multifamily Loan</h1>
          {% for field in lenderMultiFamilyLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Construction Loan -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Construction Loan</h1>
          {% for field in lenderConstructionLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- SBA Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">SBA Loan</h1>
          {% for field in lenderSBALoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- HELOC Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">HELOC Loan</h1>
          {% for field in lenderHELOCLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- BLOC Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">BLOC Loan</h1>
          {% for field in lenderBLOCLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Bridge Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Bridge Loan</h1>
          {% for field in lenderBridgeLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Qualifiers -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Qualifiers</h1>
          {% for q in qualifiers %}
            <label>{{ q }}</label>
            <label><input type="checkbox" value="{{ q.id | striptags }}" name="qualifier"></label>
          {% endfor %}
        </div>
      </div>

      <!-- Property Types -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Types</h1>
          {% for p in property_types %}
            <label>{{ p }}</label>
            <label><input type="checkbox" value="{{ p.id | striptags }}" name="property_type"></label>
          {% endfor %}
        </div>
      </div>

      <center>
        <button>{{ submit }}</button>
      </center>
    </form>
{% endblock %}
