{% extends 'base.html' %}
{% block content %}
    <h1>Lender Form</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if lender.id %}
    <form name="form" class="foo" action="{% url 'loans:edit_lender_form' pk=lender.id %}" method="POST">
    {% else %}
    <form name="form" action="{% url 'loans:lender_form' %}" method="POST">
    {% endif %}
    {% csrf_token %}

      <!-- Name Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Lender Information</h1>
          {% for field in userForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
          {% for field in lenderForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
          <label>Specialty 1: </label>
          <input type="text">
          <label>Specialty 2: </label>
          <input type="text">
          <label>Specialty 3: </label>
          <input type="text">
        </div>
      </div>

      <!-- Broker Relationship Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Broker Relationship</h1>
          {% for field in lenderBrokerRelationForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Owner Occupied Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Owner Occupied Real Estate</h1>
          {% for field in lenderOwnerOccupiedREForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Investment Table -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Investment Real Estate</h1>
          {% for field in lenderInvestmentREForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Multifamily Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Multifamily Loan</h1>
          {% for field in lenderMultiFamilyLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Construction Loan -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Construction Loan</h1>
          {% for field in lenderConstructionLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- SBA Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">SBA Loan</h1>
          {% for field in lenderSBALoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- HELOC Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">HELOC Loan</h1>
          {% for field in lenderHELOCLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- BLOC Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">BLOC Loan</h1>
          {% for field in lenderBLOCLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Miscellaneous  Table -->
      <div class="formContainer">
        <div class="grid2c">
          <h1 class="formHeader">Miscellaneous Loans</h1>
          {% for field in lenderBridgeLoanForm %}
            {{ field.label_tag }}
            {{ field }}
          {% endfor %}
        </div>
      </div>

      <!-- Qualifiers -->
      <!--https://stackoverflow.com/questions/4437386/how-to-loop-over-form-field-choices-and-display-associated-model-instance-fields/4439843-->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Qualifiers</h1>
          {% for q in qualifiers %}
            <label>{{ q }}</label>
            {% if q.id in selected_qualifiers %}
            <label><input type="checkbox" value="{{ q.id | striptags }}" name="qualifier" checked></label>
            {% else %}
            <label><input type="checkbox" value="{{ q.id | striptags }}" name="qualifier"></label>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Property Types -->
      <div class="formContainer">
        <div class="grid3c">
          <h1 class="formHeader">Property Types</h1>
          {% for p in property_types %}
            <label>{{ p }}</label>
            {% if p.id in selected_propertytypes %}
            <label><input type="checkbox" value="{{ p.id | striptags }}" name="property_type" checked></label>
            {% else %}
            <label><input type="checkbox" value="{{ p.id | striptags }}" name="property_type"></label>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <center>
        <button>{{ submit }}</button>
      </center>
    </form>
{% endblock %}
