    <div class="formContainer">
      <div class="grid3c">
        <h1 class="formHeader">Mixed Use</h1>
        <label>Major Property Type:</label>
        <!-- get list from lender form -->
        <label>List of Businesses:</label>
        <!-- dynamically add list -->
        <label>Total Annual Rents:</label>
        <label>Total Annual Expenses:</label>
        <label>Purpose of Loan:</label>
        <!-- DD: Purchase, Refinance, Refurbish -->
        <label>Cash Out:</label>
        <!-- DD: Y/N -->
        <label>Qualifier Table:</label>
      </div>
    </div>
